root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.nix]
indent_style = space
indent_size = 2

# Shell scripts - POSIX sh
[*.sh]
indent_style = space
indent_size = 2
shell_variant = posix

# Bash scripts
[*.bash]
indent_style = space
indent_size = 2
shell_variant = bash

[*.el]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[{Makefile,*.mk}]
indent_style = tab

[Justfile]
indent_style = space
indent_size = 4
