name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    tags:
      - "v?[0-9]+.[0-9]+.[0-9]+*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cleanup-storage:
    runs-on: ubuntu-latest
    steps:
      - uses: wimpysworld/nothing-but-nix@v10
        with:
          hatchet-protocol: "cleave"

  build:
    needs: cleanup-storage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31

      - uses: cachix/cachix-action@v16
        with:
          name: jylhis
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: nix-community

      - name: Build and check all flake outputs
        run: nix flake check --print-build-logs
